<template name="edit_profile">
    <div class="edit_profile_container">
        <h3>Creer votre profil</h3>
        <form class="profile-modification">
            <label>Nom d'utilisateur</label>
            <input type="text" name="username">
            <label>Adresse électronique</label>
            <input type="email" name="email">
            <label>Compte Github</label>
            <input type="text" name="githubLink">
            <input class="save" type="submit" value="Enregistrer">
        </form>
    </div>
</template>