<template name="edit_profile">
    <div class="edit_profile_container">
        <h3>Creer votre profile</h3>
        <form class="profile-modification">
            <p>Nom d'utilisateur</p>
            <input type="text" name="username">
            <p>Adresse électronique</p>
            <input type="email" name="email">
            <p>Compte Github</p>
            <input type="text" name="githubLink">
            <input class="save" type="submit" value="Enregistrer">
        </form>
    </div>
</template>