<template name="absences">
    <div class="absences_container">
        <h3>Vos absences</h3>
        <ul class="list-notes-container">
            {{#each thisAccount}}
                {{#if absences}}
                    {{#each absences}}
                        <li><span>{{matiere}}</span><span>{{absenceDate}}</span></li>
                    {{/each}}
                    {{else}}
                    <p class="warning">Vous n'avez pas d'absences</p>
                {{/if}}
            {{/each}}
        </ul>
    </div>
</template>