.admin_container{
  background:#F5F5F5 ;
  display: flex;
  flex-wrap: nowrap;
}
.admin-content{
  display: flex;
  max-width: 1000px;
  margin-top: 60px;
  flex-wrap: wrap;
  flex-direction: column;
  li{
    display: flex;
    justify-content: space-around;
  }
}