html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Lato', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
div{
  box-sizing: border-box;
}

main{
  display: flex;
  flex-wrap: nowrap;
}

.presentation-block{
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  height:100vh;
  h2{
    text-transform: none;
    font-size: 30px;
    span{
      color: #7344c0;
      margin-top: 10px;
    }
  }
  .start{
    display: block;
    margin-top: 30px;
    width: 200px;
    padding: 30px 10px;
    background: #3424ad;
    background: -moz-linear-gradient(left, #3424ad 0%, #3424ad 21%, #aa5fcf 94%, #aa5fcf 100%);
    background: -webkit-linear-gradient(left, #3424ad 0%,#3424ad 21%,#aa5fcf 94%,#aa5fcf 100%);
    background: linear-gradient(to right, #3424ad 0%,#3424ad 21%,#aa5fcf 94%,#aa5fcf 100%);
    a{color: white;text-decoration: none;font-size: 20px;}
  }
  .infostartcontainer{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
  }
  .nav-bar{
    display: flex;
    justify-content: space-between;
  }
}
h1{
  font-size: 30px;
  color: #7344c0;
}
.form-container{
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url(/img/backgroundlogin.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  justify-content: center;
  align-items: center;
  .info{
    color: #ffffff;
    font-size: 12px;
    margin: 10px auto 0 auto;
  }
}
.at-form{
  margin-top: 30px;
  .at-title{
    display: none;
  }
  .at-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    input{
      border:none;
      padding: 10px 10px;
      border-radius: 6px;
      margin-top: 8px;
    }
    label{
      font-size: 12px;
    }
  }
  .at-btn{
    background: none;
    font-size: 15px;
    border-radius: 0px;
    border: solid 1px #fff;
    margin: 40px auto 29px auto;
    display: block;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 0;
    cursor: pointer;
    width: 100%;
    max-width: 250px;
  }
  .at-signup-link, .at-signin-link{
    color: #ffffff;
    font-size: 12px;
    a{
      color: #fff
    }
  }
  .at-error{
    text-align: center;
    margin-bottom: 20px;
    color: red;
  }
}
/*.form-content{
  justify-content: center;
  align-items: center;
}*/
h2{
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
.login{
  margin-top: 14px;
  display: none;
  p{
    color: #fff;
    max-width: 350px;
    margin: 20px auto 0 auto;
  }
  input{
    width:100%;

  }
  .connexionbutton{

  }
}
.forgot_pwd{
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  margin: 0 auto;
  max-width: 350px;
  display: block;
}

